# Example env settings for frontend
# Copy to `.env.development` and `.env.production` and adjust values.

# Development (used by `npm run dev`)
# VITE_API_URL=http://127.0.0.1:8017

# Production (used by `npm run build`)
# VITE_API_URL=https://veteranos.ar/nueva_web
